.markdown-body {
  padding: 1em;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;

  color: #595959;
  font-size: 16px;
  line-height: 1.8em;
  background-image: linear-gradient(90deg, rgba(60, 10, 30, .05) 3%, transparent 0), linear-gradient(1turn, rgba(60, 10, 30, .05) 3%, transparent 0);
  background-size: 20px 20px;
  background-position: 50%;
  word-break: break-all;

  /* 主题自定义 */

  blockquote {
    margin-left: 0;
    background-color: #ebf4ff;
    border-color: #7f9cf5;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    color: #667eea;
  }

  strong {
    color: #5a67d8;
  }


  a {
    border-color: #667eea;
  }

  blockquote,
  details,
  dl,
  ol,
  p,
  pre,
  table,
  ul {
    margin-bottom: 1rem;
  }

  ol {
    list-style: decimal;
  }

  ul {
    list-style: disc;
  }

  ol,
  ul {
    padding-left: 2em;
  }

  h1,
  h2 {
    border-color: #5a67d8;
    border-style: solid;
    border-top-width: 0px;
    border-right-width: 0px;
    font-weight: 600;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 0.75rem;
  }

  /* 主题自定义 end */



  /* 布局，一般不需要改动 */

  h1,
  h2 {
    border-bottom: 1px solid #eaecef !important;
    border-left-width: 6px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 600;
    margin-bottom: 16px;
    line-height: 1.25;
  }

  blockquote {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-left: .25em solid;
  }

  blockquote>:last-child {
    margin-bottom: 0;
  }

  blockquote>:first-child {
    margin-top: 0;
  }

  strong {
    font-weight: bold;
  }

  strong::before {
    content: '「';
  }

  strong::after {
    content: '」';
  }


  a {
    text-decoration: none;
    border-bottom: 1px solid;
  }

  .footnote-ref {
    border-width: 0px;
  }



  picture img {
    border-radius: 6px;
    display: block;
    margin: 10px auto;
    -o-object-fit: contain;
    object-fit: contain;
    box-shadow: 2px 4px 7px #999;
  }

  img {
    max-width: 100%;
    display: block;
    margin: 10px auto;
    object-fit: contain;
    border-radius: 6px;
    box-shadow: 2px 4px 7px #999;
  }

  picture {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 6px;
    margin-bottom: 6px;
  }



  .svg-markmap-box {
    min-height: 20rem;
    width: 100%;
  }

  .footnotes {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .footnotes hr {
    margin-top: 4em;
    margin-bottom: 0.5em;
  }


  code,
  a {
    color: #5a67d8;
  }

  a {
    border-color: #667eea;
  }
  
  code {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    background-color: #ebf4ff;
  }



  /* 代码块特殊处理 */
  .code-section {
    display: flex;
    overflow: auto;
    border: solid 1px #5a67d8;
    background-color: #ebf4ff;
  }

  section {
  pre {
    display: block;
    overflow-x: auto;
    padding: 0.9em;
    line-height: 1.5em;
    font-size: 1em;
    margin: 0;
  }

  code {
    font-size: 1em;
    line-height: 1.6em;
    text-wrap: nowrap;
    padding: 0 !important;
    margin: 0 !important;
    display: block;
  }

  ul {
    counter-reset: line;
    margin: 0;
    padding: 0.9em 0 0.9em 0.9em;
    white-space: normal;
    width: fit-content;
  }

  ul>li {
    position: relative;
    margin: 0;
    padding: 0;
    display: list-item;
    text-align: right;
    line-height: 1.6em;
    font-size: 1em;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    padding: 0;
    list-style-type: none;
    color: rgba(0, 0, 0, 0.25);
    text-wrap: nowrap;
  }

  ul>li::marker {
    content: none;
  }
  }

  /* 布局 end */
}