// @import "prism-themes/default.scss";
@import "variables/lark.scss";

.markdown-body {

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $font-color;
    line-height: 1.4;
    font-weight: 600;
    margin-top: 1em;
    margin-bottom: 0.37em;
  }

  blockquote {
    display: block;
    margin-left: 0;
    padding-left: 14px;
    border-left: 2px solid $primary-color;
    color: rgba(31, 35, 41, .7);
  }

  a {
    overflow-wrap: break-word;
    word-wrap: break-word;
    white-space: pre-wrap;
    hyphens: auto;
    word-break: break-word;
    color: $primary-color;
    text-decoration: none;
  }

  hr {
    margin: 13px 0 12px;
    border: 0px;
    height: 1px;
    background-origin: content-box;
    background-image: linear-gradient(90deg, rgb(187, 191, 196), rgb(187, 191, 196));
    background-repeat: no-repeat;
  }

  // list

  ul {
    >li:not([class*="task-list-item"]) {
      word-wrap: break-all;
      padding-left: 12px;
      color: $primary-color;
      >section {
        color: $font-color;
      }

      &::marker {
        color: $primary-color;
      }
    }
  }

  ol {
    >li:not([class*=task-list-item]) {
      word-wrap: break-all;
      padding-left: 12px;
      >section {
        color: $font-color;
      }

      &::marker {
        color: $primary-color;
      }
    }
  }

  li+li,
  ul ul,
  ol ul,
  ul ol,
  ol ol,
  li ul,
  li ol {
    margin-top: $li-mg-t;
  }

  // task list

  .footnotes hr {
    margin-top: 4em;
    margin-bottom: 0.5em;
  }

  code {
    border-radius: 4px;
    margin-left: 2px;
    margin-right: 2px;
    border: 1px solid $border-color;
    background-color: $code-bg-color;
    word-spacing: normal;
    line-height: 1.6em;
    padding: 0 2px;
  }

  .code-section {
    pre {
      code {
        // reset
        border: none;
        background-color: transparent;
        line-height: inherit;
        padding: 0;
        margin: 0;
        text-wrap: nowrap;
      }
    }
    ul {
      li {
        color: inherit;
        margin: 0;
      }
    }
  }
}

$code-font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
@import "core/obsidian-code.scss";